-var titles = ["Main Title", "Subtitle 1", "Subtitle 2", "Subtitle 3"];
-var user = "Megan";
-var links = ["About", "News", "Contact"]
mixin box(img, title, content)
    .caja
        .caja__imagen: img(src="images/"+img)
        .caja__contenido
            h3= title
            p= content