.perfil {
    width: 50vw;
    padding-top: 50px;
    color: $color-claro;
    background-color: $color-claro;
    &__avatar {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }
    &__nombre {
        text-align: center;
        font-size: 20px;
        color: $color-secundario;
        @include titulos($fuente2);
    }
    &__titulo {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: get-opacity($color-variacion, 0.50);
    }
    &__boton {
        display: block;
        width: 100px;
        height: 40px;
        margin: 15px auto;
        padding-top: 5px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        color: $color-claro;
        @include titulos($fuente2);
        background-color:$color-primario;
        border: 2px solid get-opacity($color-claro, 0.50);
    }
}

.perfil__minibio {
    margin: 0 auto;
    padding-top: 20px;
    h2 {
        @extend .perfil__nombre;
    }
    h3 {
        @extend .perfil__titulo;
    }
}