-var titles = ["Main Title", "Subtitle 1", "Subtitle 2", "Subtitle 3"];
doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body
		header
			h1 Platzi Games
			a.boton Register
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titles[0]}
				p
					| Lorem, ipsum dolor sit amet consectetur adipisicing
					| elit. Blanditiis quo in inventore quod dignissimos,
					| harum temporibus dolores totam nostrum maxime
					| asperiores incidunt aliquid voluptates sapiente quis!
					| Sunt voluptatum excepturi eius.
					span Preponi incidunt aliquid voluptates sapiente quis, Sunt voluptatum excepturi eius.
				a.boton Read More
