.contenedor--home {
    @include display-grid;
    @include grid-template-columns(1fr);
    @include grid-template-rows(1fr grid-repeat(4));
    width: 100%;
    @include media(desktop-s){
        width: 1300px;
        height: 1200px;
        margin: 0 auto;
        @include display-grid;
        @include grid-template-columns(1fr grid-repeat(3));
        @include grid-template-rows(1fr grid-repeat(3));
    }
}

.caja--grande {
    background-image: url('../images/cyberpunk-2077.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .caja__imagen {
        display: none;
    }
    @include grid-row(1, 2);
    h2 {
        @include font-size(30px);
    }
    p {
        display: none;
    }
    @include media(desktop-s){
        h2 {
            @include font-size(50px);
        }
        p {
            display: initial;
        }
        @include grid-column(1, 4);
        @include grid-row(1, 3);
    }
}

.banner--homepage {
    @include grid-row(4, 5);
    margin: 0 auto;
    @include media(desktop-s) {
        @include grid-column(4, 5);
        @include grid-row(2, 4);
    }
}

.sidebar--listado {
    @include grid-row(2, 3);
    margin: 0 auto;
    @include media(desktop-s) {
        @include grid-column(1, 2);
        @include grid-row(3, 5);
    }
}

.caja-zelda {
    display: none;
    @include media(desktop-s) {
        display: initial;
        @include grid-column(2, 4);
        @include grid-row(3, 4);
    }
}

.caja-rdr2 {
    @include grid-row(3, 4);
    @include media(desktop-s) {
        @include grid-column(4, 5);
        @include grid-row(1, 2);
    }
}

.caja-ff {
    display: none;
    @include media(desktop-s) {
        display: initial;
        @include grid-column(2, 3);
        @include grid-row(4, 5);
    }
}

.caja-fortnite {
    display: none;
    @include media(desktop-s) {
        display: initial;
        @include grid-column(3, 4);
        @include grid-row(4, 5);
    }
}

.caja-xbox {
    display: none;
    @include media(desktop-s) {
        display: initial;
        @include grid-column(4, 5);
        @include grid-row(4, 5);
    }
}